doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Dashboard
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Abel')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Abril+Fatface')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Aclonica')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Actor')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Antic+Didone')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arapey')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/assets/css/styles.min.css')
section#full-layout.d-flex.flex-column.justify-content-between.flex-wrap.new-font-size
  #head.shadow.d-flex.align-items-center.flex-wrap.head
    h3#name.head-name Hello, #{userdetails.name}
    h1#account-no.ml-auto.head-account_no #{userdetails.accountnumber}
    i#profile-icon.fa.fa-user.head-profile__icon
    button#logout.btn.btn-primary.bg-primary.shadow.head-logout(type='submit') Logout 
  #main.d-flex.flex-column.flex-fill.main
    #control.d-flex.justify-content-between.balance-control
      #amount.shadow.d-flex.float-left.flex-fill.justify-content-between.align-items-center.main-amount__change.d-md-flex-amount.block-on-amount
        button#add.btn.btn-primary.bg-primary.shadow.amount-add.border-button Add
        button#withdraw.btn.btn-primary.bg-primary.shadow.amount-withdraw.border-button(type='submit' style='width: 33%;') Withdraw
      #balance-main.text-center.shadow.balance
        h2#bal-text.balance-text #{userdetails.balance}
    hr.main-line
    #transactions.shadow-lg.d-flex.flex-column.main-transactions
      h3#text-heading.transactions-text_heading(style="font-family: 'Antic Didone', serif;color: rgb(220,226,231);") Transactions
      hr.main-line.transactions-separator
      #transaction.d-flex.flex-row.justify-content-between.transactions-transaction.transactions-transaction__contents
        h4.flex-transaction-items(style="font-family: 'Antic Didone', serif;color: #28272a;") Details
        h4.flex-transaction-items(style="font-family: 'Antic Didone', serif;color: #28272a;") Date
        h4.flex-transaction-items(style="font-family: 'Antic Didone', serif;color: #28272a;") Amount
      hr.main-line.transactions-separator
      //- #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
      //-   h6.flex-transaction-items(style='font-size: 16px;') #{transaction.name} 
      //-   h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
      //-   span.badge.badge-primary.flex-transaction-items #{transaction.amount}
      //-var extratax = 2
      each val in userdetails.transactions
        #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
          h4.flex-transaction-items(style='font-size: 16px;') #{val.name}
          h4.flex-transaction-items(style='font-size: 16px;') #{val.date.getDate()}/#{val.date.getMonth()}/#{val.date.getFullYear()}
          span.badge.badge-primary.flex-transaction-items #{val.amount}
    //
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
      #transaction.d-flex.justify-content-between.align-items-center.transactions-transaction
        h4.flex-transaction-items(style='font-size: 16px;') PAYTM/12223
        h4.flex-transaction-items(style='font-size: 16px;') 22/11/2021
        span.badge.badge-primary.flex-transaction-items 492
#modal-main.modal
  #modal-contents.shadow-lg.d-flex.flex-column.modal-contents
    header#content-head.d-inline-flex.modal-content__header
      h2 Add Money&nbsp;
      span#content-close.align-self-center.ml-auto.modal-content__close
        i.fa.fa-close(style='font-size: 23px;')
    #card-details.border.rounded.d-inline-flex.flex-row.justify-content-between.flex-wrap.mt-auto.modal-contents_card-details
      input#content-card.border.rounded.flex-grow-1.modal-content__card.padding-for-card(type='text' inputmode='numeric' required='' name='Card Number' placeholder='Card Number Details')
      input#content-expiry.border.rounded.modal-content__expiry.padding-for-card(type='text' name='exp' placeholder='MM/YY' required='')
      input#content-cvv.border.rounded.modal-content__cvv.padding-for-card(type='password' name='CVV' placeholder='CVV' required='' maxlength='3' inputmode='numeric')
    input#content-amount.border.rounded.align-self-center.mt-auto.modal-content__amount(type='number' name='Amount' placeholder='Amount' min='10' max='10000' required='')
    #content-submit.text-center.align-self-center.mt-auto.modal-content__submit.border-button
      span#submit-text Add Money
#modal-main-withdraw.modal
  #modal-contents-withdraw.shadow-lg.d-flex.flex-column.modal-contents
    header#content-head-withdraw.d-inline-flex.modal-content__header
      h2 Withdraw Money&nbsp;
      span#content-close-withdraw.align-self-center.ml-auto.modal-content__close
        i.fa.fa-close(style='font-size: 23px;')
    #withdraw-details.border.rounded.d-inline-flex.flex-row.justify-content-between.flex-wrap.mt-auto.modal-contents_card-details
      input#transaction-name.border.rounded.flex-grow-1.modal-content__card.padding-for-card(type='text' required='' name='transaction-type' placeholder='Transaction Details')
    input#content-amount-withdraw.border.rounded.align-self-center.mt-auto.modal-content__amount(type='number' name='Amount' placeholder='Amount' min='10' max='10000' required='')
    #content-submit-withdraw.text-center.align-self-center.mt-auto.modal-content__submit.border-button
      span#submit-text Withdraw
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js')
script(src='/assets/js/script.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js' integrity='sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==' crossorigin='anonymous' referrerpolicy='no-referrer')

script(src="/assets/js/js.js")

