doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./assets/css/style.css')
  title Robinhood Bank of India - A simple, yet powerfull banking application
section.showcase
  header
    h2.logo RBI
  video(src='./Video/Banking_Homepage_Video_Without_audio.mp4' muted='' loop='' autoplay='')
  .overlay
  .text
    h2 A simple and
    h3 Secured Banking Solution
    p
      | RBI - a simple banking solution with military level cyber security. We provide
      | most interest in fixed and saving account with free debit card. We also provide
      | credit card without any annual charges and hidden charges. For more details
      | please check out know more section.
    a(href='/register') Register
    a(href='/register') Log in
  ul.social
    li
      a(href='#')
        img(src='https://i.ibb.co/x7P24fL/facebook.png')
    li
      a(href='#')
        img(src='https://i.ibb.co/Wnxq2Nq/twitter.png')
    li
      a(href='#')
        img(src='https://i.ibb.co/ySwtH4B/instagram.png')
