doctype html
head
  meta(charset='UTF-8')
  title RBI- Registration | Log-in Page
  link(rel='stylesheet' href='assets/css/Registration_style.css')
  // -we had linked our css file---
.full-page
  .navbar
    div
      a(href='index.html') RBI
    nav
      ul#MenuItems
        li
          a(href='/') Home
        // <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Login</button></li>
  #login-form.login-page
    .form-box
      .button-box
        #btn
        button.toggle-btn(type='button' onclick='login()') Log In
        button.toggle-btn(type='button' onclick='register()') Register
      form#login.input-group-login(action='/login' method='POST')
        input.input-field(type='text' placeholder='Account No' name='accno' required='')
        input.input-field(type='password' placeholder='Enter Password' name='password' required='')
        input.check-box(type='checkbox')
        span Remember Password
        button.submit-btn(type='submit') Log in
      form#register.input-group-register(action='/register' method='POST')
        input.input-field(type='text' placeholder='Full Name' name='name' required='')
        input.input-field(type='text' placeholder='PAN No ' name='pan' required='')
        input.input-field(type='date' placeholder='Date of Birth' name='dob' required='')
        input.input-field(type='email' placeholder='Email Id' name='email' required='')
        input.input-field(type='number' placeholder='Mobile No' name='mobile' required='')
        input.input-field(type='password' placeholder='Enter Password' name='password' required='')
        input.check-box(type='checkbox')
        span
          | I agree to the terms and                                                   conditions
        button.submit-btn(type='submit') Register
script.
  var x=document.getElementById('login');
  var y=document.getElementById('register');
  var z=document.getElementById('btn');
  function register()
  {
  x.style.left='-400px';
  y.style.left='50px';
  z.style.left='110px';
  }
  function login()
  {
  x.style.left='50px';
  y.style.left='450px';
  z.style.left='0px';
  }
script.
  var modal = document.getElementById('login-form');
  window.onclick = function(event)
  {
  if (event.target == modal)
  {
  modal.style.display = "none";
  }
  }
