.login-clean form .btn-primary:active,
.register-photo form .btn-primary:active {
  transform: translateY(1px);
}
.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}
.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b;
}
.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}
.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: 0 !important;
}
.login-clean form .btn-primary:active,
.login-clean form .btn-primary:hover {
  background: #eb3b60;
}
.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.login-clean form .forgot:active,
.login-clean form .forgot:hover {
  opacity: 1;
  text-decoration: none;
}
.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}
.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../../assets/img/meeting.jpg);
  background-size: cover;
}
.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
#content-card,
#content-expiry {
  margin-right: 10px;
}
.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #fff;
  padding: 40px 60px;
  color: #505e6c;
}
@media (max-width: 991px) {
  .register-photo form {
    padding: 40px;
  }
}
.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}
.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}
.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: 0 !important;
}
#transactions,
.border-button,
.head {
  border-radius: 1rem;
}
.register-photo form .btn-primary:active,
.register-photo form .btn-primary:hover {
  background: #eb3b60;
}
#main,
.head {
  background-color: #7267cb;
}
.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
#name {
  background-color: #98bae7;
  border-radius: 0.5rem;
  padding: 4px 8px;
  font-family: "Abril Fatface", cursive;
}
.head {
  height: 15%;
  padding: 0.25rem 0.75rem;
  margin-top: 0.75rem;
}
#account-no {
  margin-right: 87px;
}
#logout {
  border-radius: 1.5rem;
}
#profile-icon {
  margin-right: 20px;
}
#main {
  height: 85%;
  border-radius: 0.5rem;
  position: relative;
  padding: 2rem;
  margin: 1rem 1rem 16px;
}
.border-button {
  background-color: #521aa8;
}
#transactions {
  background-color: #6e3cbc;
  padding: 0.75rem 1.5rem;
}
.transactions-transaction {
  padding-right: 11px;
  padding-left: 11px;
  background-color: #98bae7;
  border-radius: 0.5rem;
  margin-bottom: 4px;
}
#full-layout {
  background-color: #6e3cbc;
  padding: 0 14px 0 12px;
}
#amount,
.balance {
  border-radius: 0.75rem;
  padding: 1.5rem 1rem;
}
#amount {
  background-color: #98bae7;
}
.main-line.transactions-separator {
  background-color: #98bae7;
  width: 70vw;
}
.main-line {
  width: 70vw;
  color: #f8e9ea;
  background-color: #6e3cbc;
}
.flex-transaction-items {
  flex-basis: 16rem;
}
.balance {
  background-color: #98bae7;
}
#content-amount,
#content-card,
#content-cvv,
#content-expiry {
  padding-left: 10px;
}
@media (min-width: 768px) {
  .balance {
    margin-left: 16px;
  }
}
@media (max-width: 768px) {
  .new-font-size {
    font-size: 70.5%;
  }
  .balance-control {
    display: flex;
    flex-direction: column;
  }
  .balance {
    margin-top: 8px;
  }
  .modal-contents_card-details {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}
#bal-text {
  font-family: Aclonica, sans-serif;
}
#add {
  width: 33%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(184, 228, 240, 0.72);
  padding-top: 100px;
}
#modal-contents {
  background-color: #6e3cbc;
  width: 80%;
  height: 60%;
  padding: 1rem 1.75rem;
  margin: auto;
  border-radius: 0.5rem;
}
#content-submit {
  background-color: #fff;
  width: 8rem;
  height: 35px;
  padding-top: 4px;
  color: #6e3cbc;
  font-weight: 800;
}
.modal-content__header {
  font-family: "Abril Fatface", cursive;
  color: #fff;
}
#content-close {
  margin-right: 16px;
}
#card-details {
  padding: 5px 10px;
}
#modal-content__submit:active {
  transform: translate(10px, 20px);
}
.modal-content__submit {
  cursor: pointer;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .padding-for-card {
    margin-bottom: 5px;
  }
}
#content-submit:hover {
  transform: translateY(2px);
}
#content-submit:active {
  transform: translate(0, -3px) !important;
}
